@layer base, components, page, utilities;

@import './components/skeleton/styles.scss';
@import './components/dialog/styles.scss';
@import './components/casino-card/styles.scss';
@import './utilities.scss';

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    src: url('../fonts/RobotoCondensesd-Bold.ttf') format('truetype');
  }

  :root {
    --color-1: #F9FAFA;
    --color-2: #FFFFFF;
    --color-3: #00000029;
    --color-4: #429BF4;
    --color-5: #8F8F8F;
    --color-6: #FEB524;
    --color-7: #E2E2E2;
    --color-8: #F3F3F3;
    --color-9: #5E6166;
    --color-10: #0000001E;
    --color-11: #68CB6C;
    --color-12: #404040;
    --color-13: #0F0F0F;
    --color-14: #616161;
    --color-15: #DAECFE;
    --color-16: #3082D4;
    --color-17: #878CA4;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-1);
  }
}

@layer page {
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: left;
    font: normal normal bold 28px/32px Roboto;
    color: var(--color-12);
    margin-bottom: 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    .filter {
      font: normal normal bold 18px/24px Roboto;
      color: var(--color-12);
    }

    .amount {
      font: normal normal normal 14px/20px Roboto;
      color: var(--color-12);
    }
  }

  .casino-list {
    display: grid; 
    grid-template-rows: auto;
    gap: 10px;
  }

  .load-more {
    text-align: center;
    margin-top: 20px;

    button {
      width: 100%;
      background: var(--color-2) 0% 0% no-repeat padding-box;
      border: 1px solid var(--color-4);
      border-radius: 23px;
      padding: 10px 20px;
      font: normal normal normal 14px/18px Roboto;
      color: var(--color-4);
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--color-4);
        color: var(--color-2);
      }

      &:disabled {
        color: var(--color-2);
      }
    }
  }
}
